@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    height: 100vh;
}

header {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 90%;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    margin: 0 auto;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.06);

}

.texto-header {
    margin-top: -220px;
    margin-left: 100px;
}

.logo-topo {
    margin-top: -40px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        text-decoration: none;
        color: #A63F65;
        font-size: 18px;
        font-family: "Playfair", serif;
        font-weight: 600;
    }
}

a:hover {
    color: #b83858;
    transition: .4s;
    text-decoration: underline;
}

.parte-01 {

    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: 1500px;
    margin: 0 auto;

    h1 {
        max-width: 450px;
        line-height: 52px;
        color: #8C354C;
        font-size: 55px;
        font-family: "Playfair", serif;
        font-style: italic;
        margin-bottom: 10px;
    }

    p {
        max-width: 350px;
        font-family: "Playfair", serif;
        font-weight: 500;
        font-size: 18px;
        color: #A63F65;
        line-height: 20px;
        margin-bottom: 12px;
    }
}

.btn-01 {
    background-color: #f67b99;
    width: 170px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: "Playfair", serif;
    font-size: 16px;
    font-weight: bold;
}

.btn-header {
    background-color: #8C354C;
    width: 170px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: "Playfair", serif;
    font-size: 16px;
    font-weight: bold;
}

.btn-header:hover {
    background-color: #b83858;
    transition: .4s;
}



.waleria-img {
    width: 450px;
    margin-top: -40px;
    margin-right: 100px;
}



/*style da div/section de procedimento*/
.procedimentos {
    margin-top: 50px;
    text-align: center;

    background-color: #8C354C;


    h2 {
        color: #FFFFFF00;
        font-family: "Plush", Sans-serif;
        font-size: 60px;
        font-weight: 900;
        -webkit-text-stroke-width: 0.8px;
        stroke-width: 0.8px;
        -webkit-text-stroke-color: #FFFFFF;
        stroke: #FFFFFF;
    }

    span {
        color: white;
        text-decoration: underline solid 4px #47627C;
    }
}

.section-corrosel {
    max-width: 1500px;
    margin: 0 auto;
}

.carousel-caption {
    opacity: 0;
    transition: opacity 0.5s ease;
}



.carousel-item:hover .carousel-caption {
    opacity: 1;
}



.carousel-item img {
    opacity: 0.8;
    transition: opacity 0.5s ease;
}



.carousel-item:hover img {
    opacity: 0.6;
}



/*style sobre-min*/

.div-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
        width: 400px;
        margin-right: 40px;
    }
}

.sobre .sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;

    h1 {
        font-size: 90px;
        font-weight: 900;
        align-items: center;
        font-family: "Playfair", serif;
        color: #8C354C;
    }

    p {
        font-size: 20px;
        margin-top: 30px;
        font-weight: 500;
        font-family: "Playfair", serif;

        color: #A63F65;
    }

    img {
        width: 400px;
        align-items: center;
    }
}

.pilares {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    background-color: #8C354C;

    h1 {
        font-family: "Playfair", serif;
        margin-top: 30px;
        font-size: 60px;
        font-weight: 900;
        color: #F8F8F8;
    }
}

.pilares .div-pilares {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 30px;

        p {
            margin-top: 10px;
            color: #F8F8F8;
        }
    }
}


/*footer*/

footer > img 
{
   padding-top: 50px;
}
footer {

   display: flex;
   justify-content: center;
   margin-top:15px;
   padding-top: 30px;
   font-family: "Playfair", serif;
   
   
   
   
}
.final
{
    display: flex;
    justify-content: space-around;
    background: #f67b99;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 12px -10px 128px 5px rgba(246,123,153,0.7);
   
   
    
    
}
footer, li {
      color: #F8F8F8;
}
footer, li:hover 
{
    color: black;
}
