@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 18px;
  padding: 18px;
}

nav{
  display: flex;
  gap: 20px;
  
}

a{
  text-decoration: none;
  color: #f67b99;
  font-size: 18px;
  font-family: "Playfair", serif;
  font-weight: 600;
}

a:hover{
 color:  #b83858;
 transition: .4s;
 text-decoration: underline;
}

.parte-01{

  display: flex;
  justify-content: space-around;
  align-items: center;
 h1{
  max-width: 450px;
  line-height: 43px;
  color: #F27294;
  font-size: 50px;
  font-family: "Playfair", serif;
  font-style: italic;
  margin-bottom: 10px;
 }

 p{
  max-width: 300px;
  font-family: "Playfair", serif;
  font-weight: 500;
  font-size: 17px;
  color: #F27294;
  margin-bottom: 12px;
 }

   
}

.btn-header{
  background-color: #f67b99;
  width: 170px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-family: "Playfair", serif;
  font-size: 16px;
  font-weight: bold;
}

.btn-header:hover{
  background-color:   #b83858;
  transition: .4s;
}

.waleria-img{
  width: 450px;
  margin-right: 150px;
}

.parte-01{
  padding: 25px;
  background: linear-gradient(90deg, rgba(238,5,242,0) 0%, rgba(246,123,153,1) 100%, rgba(239,144,255,1) 100%);
  
}

.texto-header{
  margin-top: -200px;
  margin-left: 150px;
}