@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');



/*curos*/

.Inicio-part 
{
    display: flex;
    justify-content: center;
    
}

.cap-20
{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Playfair", serif;
    color: #8c354c;
    font-weight: 300;
    font-size: 5vw;
}




/*cursos*/

.part-cursos
{  width: 100%; 
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:#8C354C;
    font-family: "Playfair", serif;
    color:#F8F8F8;
    font-size: 1.5rem;
    box-shadow: 2px 1px 31px 1px rgba(246,123,153,0.7);
   
    
}

h2  {
    font-size: 3rem;
}
li
{
    font-size: 1.4rem;
}
span {
    font-size: 1.9rem;
    color: #F8F8F8;
    font-weight: 600;
}
.img-cursos {
    border-radius: 5px;
    box-shadow: 2px 1px 31px 1px rgba(0,0,0,0.7);
}


/*footer*/

footer > img 
{
   padding-top: 50px;
}
footer {

   display: flex;
   justify-content: center;
   margin-top:15px;
   padding-top: 30px;
   font-family: "Playfair", serif;

   
   
   
}
.final
{
    display: flex;
    justify-content: space-around;
    background: #8C354C;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 12px -10px 128px 5px rgba(246,123,153,0.7);
   
   
    
    
}


