@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    height: 100vh;
}

header {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 90%;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    margin: 0 auto;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.06);
    


}

.texto-header {
    margin-top: -220px;
    margin-left: 100px;
}

.logo-topo {
    margin-top: -40px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


    a {
        text-decoration: none;
        color: #f67b99;
        font-size: 18px;
        font-family: "Playfair", serif;
        font-weight: 600;
    }
}

a:hover {
    color: #b83858;
    transition: .4s;
    text-decoration: underline;
}

.Inicio-part 
{
    display: flex;
    justify-content: center;
    
}
h1 
{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Playfair", serif;
    color: #f67b99;
    font-weight: 300;
    font-size: 5vw;
}
h2 
{
    font-family: "Playfair", serif;
    color:#b83858;
    font-weight: 500;
    font-size: 3vw;
}

 .cursos-part 
 {  
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #f67b99;
     border-radius: 30px;
     margin:40px;
     padding-top: 70px;
     gap: 50px;

 }

 .img-cursos
 {  border-radius: 20px;
    box-shadow: -5px 2px 14px 0px rgba(0,0,0,0.75);
 }
 .img-cursos > img
 {
    opacity: 0.4;
 }
 img:hover
 {
    opacity: 1;
    transition: opacity 0.5s ease;
 }
 .text-1
 {
  display: none;
  position: absolute;
  justify-content: center;
  font-family: "Playfair", serif;
  padding-top: 200px;
  font-size: 2vw;
 }

 .text-1:hover {
    display: block;
 }