@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    height: 100vh;
}

header {

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 90%;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    margin: 0 auto;
    box-shadow: 0px 0px 11px 4px rgba(0, 0, 0, 0.06);
    


}

.texto-header {
    margin-top: -220px;
    margin-left: 100px;
}

.logo-topo {
    margin-top: -40px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;


    a {
        text-decoration: none;
        color: #f67b99;
        font-size: 18px;
        font-family: "Playfair", serif;
        font-weight: 600;
    }
}

a:hover {
    color: #b83858;
    transition: .4s;
    text-decoration: underline;
}





/*curos*/

.Inicio-part 
{
    display: flex;
    justify-content: center;
    
}
h1 
{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    font-family: "Playfair", serif;
    color: #f67b99;
    font-weight: 300;
    font-size: 5vw;
}




/*cursos*/

.part-cursos
{   height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f67b99;
    font-family: "Playfair", serif;
    color:#F8F8F8;
    font-weight: 300;
    font-size: 2rem;
    box-shadow: 2px 1px 31px 1px rgba(246,123,153,0.7);
    border-radius: 10px;
    
}
h2  {
    font-size: 3rem;
}
li
{
    list-style: none;
    font-size: 1.5rem;
}
.img-cursos {
    border-radius: 5px;
    box-shadow: 2px 1px 31px 1px rgba(0,0,0,0.7);
}
.img-cursos {
    opacity: 0.6;

}
img:hover {
    opacity: 1;
}


footer {

   display: flex;
   justify-content: center;
   margin-top:100px;
   font-family: "Playfair", serif;
   
}
.final
{
    display: flex;
    justify-content: space-around;
}